# Carpeta build que contiene los artefactos de compilación
/build

# Carpeta de dependencias generada por npm o yarn
/node_modules

# Carpeta de artefactos generados durante la compilación 
/artifacts
/cache

# Archivo de configuración de Hardhat
hardhat.config.js

# Archivos de typechain generados en el proceso de coverage
/typechain-types
coverage.json

# Archivo de configuración de solcover (si se utiliza Solidity-coverage)
.solcover.js

# Archivo de bloqueo de versiones
package-lock.json

# Archivo de registro de Yarn
yarn.lock

# Archivo de configuración de Visual Studio Code
.vscode

# Archivos de respaldo
*~

# Archivos de salida de pruebas, cobertura y artefactos generados
/*.log
/coverage
/.coverage*

# Archivos de ambiente local
.env
.env.local
.env.*.local

# Archivos de variables de ambiente
.env.production
.env.development
.env.test

# Archivos de respaldo de Solidity
*.swp

# Otros archivos y carpetas generados en el proceso de desarrollo
.DS_Store
Thumbs.db
.idea/
